div.spanGeneral {
    display: flex;
    width: 60px;
    height: 50px;
    /*color: darkmagenta;*/
    /*background-color: darkmagenta;*/
    /*height: 300px;*/
    justify-content: center;
    align-items: center;
    /*background-size: cover;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*position: relative;*/
}

.faJs {
    font-size: 50px;
    color: #2A77F2;
}

.faInst {
    font-size: 50px;
radial-gradient(circle at 33 % 100 %, #FED373 4 %, #F15245 30 %, #D92E7F 62 %, #9B36B7 85 %, #515ECF);
}
