div.spanGeneral {
    display: flex;
    width: 60px;
    height: 50px;
    /*color: darkmagenta;*/
    /*background-color: darkmagenta;*/
    /*height: 300px;*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.facebook{

}
