
.title {
    /*background-color: #D1D0CE;*/

    margin: 0 0 30px;
    font-family: 'Lato', sans-serif;
    font-width: bold;


    font-size:28px;
    line-height: 1.2em;
    color: #FFFFFF;
    text-transform: capitalize;
.title h2{

    margin: 0;

}
}



